Makefiles/
Makefile
build/
refrences/
*.vim
.DS_Store/
._.DS_Store
.DS_Store
*cache
*cache/
__pychache__/
__pychache__
__pychache__/
__pychache__
*.pyc
*.kicad_prl
*.lck
*auto_saved_files*
~$*.xlsx
*backups/
*_autosave*
*.~*
~$*
